#box{
    height: 500px;
    width: 500px;
    background-color: hotpink;

}
#upper-half {
    height: 50%;
    width: 100%;
    border: 5px solid black;
    box-sizing: border-box;

}
#upper-quarter {
    height: 50%;
    width: 100%;

}
#box div{
    background-color: rgba(255, 255, 255, 0.25);
}
#box1 {
    height: 100px;
    width: 100px;
    background-color: red;

    position: absolute;
    top: 0;
    left: 0;  
}
#mennubar{
    position: fixed;
    top: 50px;
    right: 100px;
}
#box2 {
    height: 100px;
    width: 100px;
    background-color: blue;

    position: absolute;
    top: 50px;
    left: 50px;  
}